
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url("https://i.pinimg.com/originals/4d/df/ac/4ddfacf35b0ebc0efd87e0493b0c21cc.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 0px;
}

/* Estilo do header */
header {
    width: 100%;
    padding: 40px 0;
    background: #c279d8;
    height: 16vh;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-width: 100px;
}

header .menu-desktop nav ul {
    list-style-type: none;
    align-items: center;
}

header .menu-desktop nav ul li {
    display: inline-block;
    margin: 0 40px;
}

header .menu-desktop nav ul li a {
    color: white;
    text-decoration: none;
    margin-top: 0px;
}
